{% extends 'base.html' %} 

{% block title %} EN ADOPCIÓN: _todo_{# nombre mascota #} {% endblock %}

{% block navrow %}
{% endblock %}

{% block header %}
    <h1>EN ADOPCIÓN - _todo_{# nombre mascota #}</h1>
{% endblock %}

{% block main %}
    {# aún no sé SQL #}
    <!--
    <section>
    
    <div style="text-align: center;" id="div1">
        <img src="../imgs/cat_cucha.jpeg" alt="Gatita Cucha, primera foto" class=detailedAdSmall id="img1">
        <img src="../imgs/cat_cucha_2.jpeg" alt="Gatita Cucha, segunda foto" class=detailedAdSmall id="img2">
    </div>
    
    <div id="div2"> <table style="width: 800px; margin: auto;">
        <tr><td style="text-align: right; white-space: pre;"><button type="button" id="closeButton"> X </button></td></tr>
        <tr><td><span id="img1_2"><img src="../imgs/cat_cucha.jpeg" alt="Gatita Cucha, primera foto, grande" class=detailedAdBig></span></td></tr>
        <tr><td><span id="img2_2"><img src="../imgs/cat_cucha_2.jpeg" alt="Gatita Cucha, segunda foto, grande" class=detailedAdBig></span></td></tr>
    </table> </div>
    
    <div id="div3">
    <table class=adList>
        
        <colgroup> 
            <col style="width: 12em;"> 
            <col style="width: 18em;"> 
        </colgroup>
        
        <tbody> 
            <tr>
                <td>Región</td>
                <td>Región Metropolitana de Santiago</td>
            </tr>
            <tr>
                <td>Comuna</td>
                <td>Macul</td>
            </tr>
            <tr>
                <td>Sector</td>
                <td>Campus San Joaquín</td>
            </tr>
            
            
            <tr>
                <td>Posteado por</td>
                <td>Major Tom</td>
            </tr>
            <tr>
                <td>Correo electrónico</td>
                <td>ground@control.com</td>
            </tr>
            <tr>
                <td>Número telefónico</td>
                <td>+56 9 3141 5926</td>
            </tr>
            <tr>
                <td>Whatsapp</td>
                <td>+56 9 3141 5926</td>
            </tr>
            <tr>
                <td>Instagram</td>
                <td>@funktofunky</td>
            </tr>
            
            <tr>
                <td>Especie</td>
                <td>Gata</td>
            </tr>
            <tr>
                <td>Cantidad</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Edad</td>
                <td>3 años</td>
            </tr>
            <tr>
                <td>Fecha Publicación</td>
                <td>2024-11-01 15:00</td>
            </tr>
            <tr>
                <td>Fecha Entrega</td>
                <td>2024-11-01 22:00</td>
            </tr>
        </tbody>
    
    </table>
    <br>
    
    <h2 style="text-align: center;">Descripción</h2>
    <p class=ASCII_art> 
        __________________________________ 
       (                                  )
       (  ¡Hola! ¡Soy Cucha!              )
       (  Me fascina el atún; ¡miaaaaau!  )
       (  ________________________________)
 /\_/\  |/                                 
( °w° )                                    </p>
    
    <br>
    </div>
</section>
    -->
{% endblock %}

{% block footer %}
    <div id="div4"> <!-- navbar -->
        <nav> <table class=navbar> <tr>
            <th class=navbar_left><a href="../listado/">Listado</a></th>
            <th class=navbar_right><a href="..">Inicio</a></th>
        </tr> </table> </nav>
        <br>
    </div>
{% endblock %}

{% block scripts %}
    <script src="static/js/detailed_ad.js"></script>
{% endblock %}