{% extends 'base.html' %} 

{% block title %} Mascotas El Carmen {% endblock %}

{% block navrow %}
    <th class=navbar_left><a href="./postear/">Agregar aviso</a></th>
    <th class=navbar_center><a href="./listado/">Lista de avisos</a></th>
    <th class=navbar_right><a href="./stats/">Estadísticas</a></th>
{% endblock %}

{% block header %}
    <h1>Mascotas El Carmen</h1>
    <p>¡Bienvenidx a <em>Mascotas El Carmen</em>!</p>
{% endblock %}

{% block main %}
    <h2>Últimos avisos publicados:</h2>
    <br>
    <table class=adList>
        <colgroup> 
            <col style="width: 6em;"> 
            <col style="width: 6em;"> 
            <col style="width: 12em;"> 
            <col style="width: 12em;">
            <col style="width: 320px;">
        </colgroup>
        
        <thead>
            <tr>
                <th>Fecha Publicación</th>
                <th>Comuna</th>
                <th>Sector</th>
                <th>Datos</th> <!-- Cantidad/Tipo/Edad -->
                <th>Fotos</th>
            </tr>
        </thead>
        
        <tbody>
            {% for a in avisos %}
            <tr>
                <td>{{ a.fecha_ingreso }}</td>
                <td>{{ a.comuna_id }}</td>
                <td>{{ a.sector }}</td>
                <td>{{ a.cantidad }} {{ a.tipo }}{% if a.cantidad > 1 %}s{% endif %} de {{ a.edad }}{{ a.unidad_medida }}</td>
                <td>{% for f in fotos %}
                {% if f.aviso_id == a.id %}
                <img src="{{ f.ruta_archivo }}" alt="{{ f.nombre_archivo }}">
                {% endif %}
                {% endfor %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer %}
    <br>
{% endblock %}

{% block scripts %}
{% endblock %}