{% extends 'base.html' %} 

{% block title %} Listado de avisos {% endblock %}

{% block navrow %}
    <th class=navbar_center><a href="../">Inicio</a></th>
{% endblock %}

{% block header %}
    <h1>Listado de avisos de adopción</h1>
{% endblock %}

{% block main %}
    <table class=adList>
        <colgroup> 
            <col style="width: 6em;"> 
            <col style="width: 6em;"> 
            <col style="width: 6em;"> 
            <col style="width: 12em;"> 
            <col style="width: 12em;"> 
            <col style="width: 6em;"> 
            <col style="width: 320px;">
        </colgroup>
        
        <thead>
            <tr>
                <th>Fecha Publicación</th>
                <th>Fecha Entrega</th>
                <th>Comuna</th>
                <th>Sector</th>
                <th>Datos</th> <!-- Cantidad/Tipo/Edad -->
                <th>Nombre Contacto</th>
                <th>Fotos</th>
            </tr>
        </thead>
        
        <tbody> 
            {% for a in avisos %}
            <tr onclick="location.href='./detailed_ads/{{ a.id }}';">
                <td>{{ a.fecha_ingreso }}</td>
                <td>{{ a.fecha_entrega }}</td>
                <td>{{ a.comuna_id }}</td>
                <td>{{ a.sector }}</td>
                <td>{{ a.cantidad }} {{ a.tipo }}{% if a.cantidad > 1 %}s{% endif %} de {{ a.edad }}{{ a.unidad_medida }}</td>
                <td>{{ a.nombre }}</td>
                <td>{% for f in fotos %}
                {% if f.aviso_id == a.id %}
                <img src="{{ f.ruta_archivo }}" alt="{{ f.nombre_archivo }}">
                {% endif %}
                {% endfor %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% if num>1 %}<a href="{{ url_for('listado_pagina', num=num-1) }}">Retroceder</a><br>{% endif %}
    {% if avanzar %}<a href="{{ url_for('listado_pagina', num=num+1) }}">Avanzar</a>{% endif %}
{% endblock %}

{% block footer %}
    <br>
{% endblock %}

{% block scripts %}
{% endblock %}