{% extends 'base.html' %} 

{% block title %} Listado de avisos {% endblock %}

{% block navrow %}
    <th class=navbar_center><a href="../">Inicio</a></th>
{% endblock %}

{% block header %}
    <h1>Listado de avisos de adopción</h1>
{% endblock %}

{% block main %}
    <table class=adList>
        <colgroup> 
            <col style="width: 6em;"> 
            <col style="width: 6em;"> 
            <col style="width: 6em;"> 
            <col style="width: 12em;"> 
            <col style="width: 12em;"> 
            <col style="width: 6em;"> 
            <col style="width: 320px;">
        </colgroup>
        
        <thead>
            <tr>
                <th>Fecha Publicación</th>
                <th>Fecha Entrega</th>
                <th>Comuna</th>
                <th>Sector</th>
                <th>Datos</th> <!-- Cantidad/Tipo/Edad -->
                <th>Nombre Contacto</th>
                <th>Fotos</th>
            </tr>
        </thead>
        
        <tbody> 
            {# for something something crear cuerpo de la tabla #}
        </tbody>
    </table>
{% endblock %}

{% block footer %}
    <br>
{% endblock %}

{% block scripts %}
{% endblock %}