{% extends 'base.html' %} 

{% block title %} Estadísticas {% endblock %}

{% block navrow %}
    <th class=navbar_center><a href="../">Inicio</a></th>
{% endblock %}

{% block header %}
    <h1>Estadísticas de adopción</h1>
{% endblock %}

{% block main %}
    <h2>Cantidad de avisos de adopción por día</h2>
    <img src="static/imgs/graph_lines_daily_ads.png" alt="Gráfico de líneas">
    
    <h2>Total de avisos por tipo de mascota</h2>
    <img src="static/imgs/graph_pie_animal_ratios.png" alt="Gráfico de torta">
    
    <h2>Cantidad de avisos mensuales por tipo de mascota</h2>
    <img src="static/imgs/graph_bars_monthly_ads.png" alt="Gráfico de barras">
{% endblock %}

{% block footer %}
    <h2 style="text-align: center;"><a href="../">Regresar a la página principal</a></h2>
    <br>
{% endblock %}

{% block scripts %}
{% endblock %}