flask_app/__pycache__/

flask_app/database/__pycache__/
flask_app/database/create_user.sql
flask_app/database/db_old.py
flask_app/database/init_db.py
flask_app/database/querys.json

flask_app/static/imgs/

flask_app/static/js/confesiones.js
flask_app/static/js/login.js
flask_app/static/js/modal.js

flask_app/utils/
flask_app/utils/__pycache__/

flask_app/templates/extend_base.html